:root {
  --colorPrimaryWhite: #ffffff;
  --colorPaletteGreyGrey100: #141618;
  --colorPaletteGreyGrey90: #232629;
  --colorPaletteGreyGrey80: #363a3e;
  --colorPaletteGreyGrey70: #4e5358;
  --colorPaletteGreyGrey60: #697077;
  --colorPaletteGreyGrey50: #868f98;
  --colorPaletteGreyGrey40: #9faab4;
  --colorPaletteGreyGrey30: #c0c7ce;
  --color12345678987: #dce0e4;
  --colorPaletteGreyGrey10: #f2f4f5;
  --colorPaletteGreyGrey5: #f9f9fa;
  --colorPaletteBlueBlue100: #001141;
  --colorPaletteBlueBlue90: #001d6c;
  --colorPaletteBlueBlue80: #002d9c;
  --colorPaletteBlueBlue70: #0043ce;
  --colorPaletteBlueBlue60: #0f62fe;
  --colorPaletteBlueBlue50: #4589ff;
  --colorPaletteBlueBlue40: #78a9ff;
  --colorPaletteBlueBlue30: #a6c8ff;
  --colorPaletteBlueBlue20: #d0e2ff;
  --colorPaletteBlueBlue10: #edf5ff;
  --colorPaletteBlueBlue5: #f6faff;
  --colorPaletteRedRed100: #310505;
  --colorPaletteRedRed90: #4e0b0c;
  --colorPaletteRedRed80: #711516;
  --colorPaletteRedRed70: #9e2122;
  --colorPaletteRedRed60: #d23031;
  --colorPaletteRedRed50: #f75556;
  --colorPaletteRedRed40: #ff8484;
  --colorPaletteRedRed30: #ffb3b3;
  --colorPaletteRedRed20: #ffd6d6;
  --colorPaletteRedRed10: #fff0f0;
  --colorPaletteRedRed5: #fff8f8;
  --colorPaletteOrangeOrange100: #231000;
  --colorPaletteOrangeOrange90: #3e1a00;
  --colorPaletteOrangeOrange80: #5e2900;
  --colorPaletteOrangeOrange70: #8a3800;
  --colorPaletteOrangeOrange60: #ba4e00;
  --colorPaletteOrangeOrange50: #e36b00;
  --colorPaletteOrangeOrange40: #ff832b;
  --colorPaletteOrangeOrange30: #ffb784;
  --colorPaletteOrangeOrange20: #ffd9be;
  --colorPaletteOrangeOrange10: #fff2e8;
  --colorPaletteOrangeOrange5: #fff8f3;
  --colorPaletteGreenGreen100: #001a08;
  --colorPaletteGreenGreen90: #002d12;
  --colorPaletteGreenGreen80: #00431f;
  --colorPaletteGreenGreen70: #00602f;
  --colorPaletteGreenGreen60: #008141;
  --colorPaletteGreenGreen50: #00a454;
  --colorPaletteGreenGreen40: #4cbe75;
  --colorPaletteGreenGeen30: #7fda9b;
  --colorPaletteGreenGreen20: #a4f1bb;
  --colorPaletteGreenGreen10: #d3fede;
  --colorPaletteGreenGreen5: #eafeef;
  --colorBTest123: #ff0000;
  --colorPrimaryBlack: var(--colorPaletteGreyGrey100);
  --colorPrimaryAccent: var(--colorPaletteBlueBlue50);
  --colorSecondaryAccentHover: var(--colorPaletteBlueBlue60);
  --colorSecondaryCritical: var(--colorPaletteRedRed60);
  --colorSecondaryCriticalHover: var(--colorPaletteRedRed70);
  --colorSecondaryWarning: var(--colorPaletteOrangeOrange50);
  --colorSecondaryWarningHover: var(--colorPaletteOrangeOrange60);
  --colorSecondarySuccess: var(--colorPaletteGreenGreen50);
  --colorSecondarySuccessHover: var(--colorPaletteGreenGreen60);
  --colorTextBlackTextBlack01: var(--colorPaletteGreyGrey100);
  --colorTextBlackTextBlack02: var(--colorPaletteGreyGrey80);
  --colorTextBlackTextBlack03: var(--colorPaletteGreyGrey60);
  --colorTextBlackTextBlack04: var(--colorPaletteGreyGrey50);
  --colorTextBlackTextBlack05: var(--colorPaletteGreyGrey40);
  --colorTextWhiteTextWhite01: var(--colorPrimaryWhite);
  --colorTextWhiteTextWhite02: var(--color12345678987);
  --colorTextWhiteTextWhite03: var(--colorPaletteGreyGrey40);
  --colorTextWhiteTextWhite04: var(--colorPaletteGreyGrey50);
  --colorTextWhiteTextWhite05: var(--colorPaletteGreyGrey60);
  --colorIconBlackIconBlack01: var(--colorPaletteGreyGrey40);
  --colorIconBlackIconBlack02: var(--colorPaletteGreyGrey50);
  --colorIconBlackIconBlack03: var(--colorPaletteGreyGrey80);
  --colorIconWhiteIconWhite01: var(--colorPrimaryWhite);
  --colorIconWhiteIconWhite02: var(--color12345678987);
  --colorIconWhiteIconWhite03: var(--colorPaletteGreyGrey40);
  --colorIconWhiteIconWhite04: var(--colorPaletteGreyGrey60);
  --colorBackgroundBackground0: var(--colorPrimaryWhite);
  --colorBackgroundBackground5: var(--colorPaletteGreyGrey5);
  --colorBackgroundBackground10: var(--colorPaletteGreyGrey10);
  --colorBackgroundBackground20: var(--color12345678987);
  --colorBackgroundBackground70: var(--colorPaletteGreyGrey70);
  --colorBackgroundBackground80: var(--colorPaletteGreyGrey80);
  --colorBackgroundBackground90: var(--colorPaletteGreyGrey90);
  --colorBackgroundBackground100: var(--colorPaletteGreyGrey100);
  --colorBackgroundBackgroundAccent10: var(--colorPaletteBlueBlue10);
  --colorBackgroundBackgroundAccent20: var(--colorPaletteBlueBlue20);
  --colorBackgroundBackgroundCritical10: var(--colorPaletteRedRed10);
  --colorBackgroundBackgroundCritical20: var(--colorPaletteRedRed20);
  --colorDividerDivider10: var(--colorPaletteGreyGrey10);
  --colorDividerDivider20: var(--color12345678987);
  /* Bla */
  --colorDividerDivider80: var(--colorPaletteGreyGrey80);
  --colorDividerDivider90: var(--colorPaletteGreyGrey90);
}